body {
    background-color: #f3eaaf;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #006400;
  }
  
  th {
    background-color: #f3eaaf;
  }
  
  .card-details-btn {
    background-color: #337ab7;
    color: white;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .card-details-btn:hover {
    background-color: #286090;
  }
  
  button {
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  p {
    margin-top: 10px;
  }
  footer {
    background-color: #f3eaaf;
    color: #006400;
    padding: 10px;
    text-align: center;
  }
  
  